.main_image {
  border-radius: 5px;
  margin-top: 10px;
}
.title_about {
  font-size: 20px;
  font-weight: bold;
}
.phone {
  text-decoration: none;
  font-weight: bold;
}
.price {
  margin-top: 10px;
  font-size: 20px;
  font-weight: bold;
}
